:root {
--cor-de-fundo: #b87cae;
--verde: #bb71af;
--branco:#ffffff;
--botao-ativo: #b160a3;
--botao-inativo: #b35da4;
--texto-fundo: #000000;
}
body{
    background-color: var(--cor-de-fundo);
    color: var(--branco);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.conteudo-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.titulo-principal{
    text-align: center;
    width: 100%;
    font-size: 32px;


}
